.example-container {
    position: relative;
  }
  .container-holiday{
    background-color: #fff;
  
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: center;
    overflow: hidden;
    max-width: 100%;
    min-height: 570px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    max-height: 98%;
    width: 70%;
  }
  .title{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .tabler{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
  }
  .container-f {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: center;
    overflow: hidden;
    max-width: 100%;
    min-height: 580px;
    margin: auto;
    width: 70%;
    padding: 10px;
  }
  
  .example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .butt-back{
    background: #3b4d79;
  }
  
  .example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  
  section {
    display: table;
  }
  
  .holiday-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 30%;
  }
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .header-holiday {
    background-color: #263238;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    -webkit-background-clip: text;
    text-align: center;
    margin-left: 7rem;
  }
  .flex-c{
    display: flex;
  }
  .custom-button {
    padding: 0.2rem 0.2rem;
    width: 3rem;
    background-color: #47657a;
    border: 1px solid #000000;
    box-shadow: rgba(0, 0, 0, 0.20) 0 1px 4px;
    border-radius: 0.5rem;
    color: #FFFFFF;
    transition: 0.2s;
  }
  .custom-button:hover {
    transform: scale(1.07);
    transition: 0.2s;
    cursor: pointer;
    background-color: #b6b6c9;
    color: #304249;
  }
  .custom-button .icon-fa{
    font-size: 25px;
    width: 4rem;
    padding-right: 5px;
    min-width: 4rem;
    margin-right: 5px;
    text-align: center;
  }
  .f-right{
    margin-left: auto;
  }
  .m-bott{
    margin-bottom: 20px;
  }
  .m-top{
    margin-top: 15px;
  }
  .butt-back{
    background: #3b4d79;
  }
  