<div class="container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" type="text" [(ngModel)]="name">
        </mat-form-field><br>
        <span style="color: red">{{errorUsername}}</span>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="oldPassword" [(ngModel)]="oldPass" type="password">
        </mat-form-field><br>
        <span style="color: red">{{errorOldPass}}</span>

        <br>
        <mat-form-field appearance="fill">
            <mat-label>New password</mat-label>
            <input type="email" name="email" matInput formControlName="newPassword" [(ngModel)]="newPass" type="password">
        </mat-form-field><br>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Confirm new password</mat-label>
            <input type="email" name="email" matInput formControlName="repeatedNewPassword" [(ngModel)]="confirmNewPass" type="password">
        </mat-form-field><br>
        <span style="color: red">{{errorNewPass}}</span>
        <br>
        <button mat-stroked-button [disabled]="changePasswordForm.invalid">
            Submit
        </button>
    </form>
</div>
  