.container-patients{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0.1,0.1,0.1,0.1),
  10px 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 5px;
  margin-right: auto;
}
.cell-list{
  margin-left: 20px;
}
.btn-cell{
  float: right;
  margin-left: auto;
}
.dropdown-content {
  position: relative;
  margin-top: 60px;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.flex-items{
}
