<div class="fade-element">
<h1>Appointment details</h1>
<span >{{formatDate(appointment.duration?.from!)}} - {{formatTime(appointment.duration?.to!)}}</span>
<br>
<br>
<span>Patient: </span>
<span>{{appointment.patient?.name}} {{appointment.patient?.surname}}</span>
<br>
<br>
<span>State: </span>
<span>{{getState()}} </span>
<mat-divider style="margin-top: 10px"></mat-divider>
<div class="mg-t-10">
<h1>Appointment actions</h1>
<div class="button-group">
  <button class="button-group__button" (click)="onReschedule(appointment.id!)" [disabled]="!canCancel(appointment.duration?.from!)">
   Reschedule
  </button>
  <button class="button-group__button" [disabled]="!canCancel(appointment.duration?.from!)" (click)="onCancel(appointment.id!)">
    Cancel
  </button>
  <button class="button-group__button"  [disabled]="!canEx"  (click)="navigateExamine()">
    Examine
  </button>
  <button class="button-group__button"  [disabled]="canCreateReport(appointment.id!)"  (click)="CreateAppointmentReport(appointment.id!)">
    Report
  </button>
</div>
</div>
</div>
