.button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
}
.button-group__button {
  margin-right: 1rem;
  padding: 0.7rem 0.7rem;
  width: 10rem;
  background-color: #263238;
  border: 1px solid #3b4d79;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.20) 0 1px 4px;
  border-radius: 0.5rem;
  color: #FFFFFF;
  transition: 0.2s;
}
.button-group__button:hover {
transform: scale(1.07);
transition: 0.2s;
cursor: pointer;
background-color: #3b4d79;
color: white;
}
