<!--<div class="container">
    <div class="table-header">
        <p class="table-title">Rooms</p>
        <button class="add-button" mat-mini-fab matTooltip="New room" matTooltipPosition="right" (click)="addRoom()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Number </th>
            <td mat-cell *matCellDef="let room" class="clickable cell-center" (click)="chooseRoom(room.id)">{{room.number}}</td>
        </ng-container>
        <ng-container matColumnDef="floor">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Floor </th>
            <td mat-cell *matCellDef="let room" class="cell-center">{{room.floor}}</td>
        </ng-container>
        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef class="cell-center"></th>
            <td mat-cell *matCellDef="let room" class="cell-center">
                <button mat-icon-button (click)="updateRoom(room.id)">
                    <mat-icon matTooltip="update">edit</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef class="cell-center"></th>
            <td mat-cell *matCellDef="let room" class="cell-center">
                <button mat-icon-button (click)="deleteRoom(room.id)">
                    <mat-icon matTooltip="delete">delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>-->
<div  class="search">
  <mat-form-field appearance="legacy">
    <mat-label>Room search</mat-label>
    <input matInput type="text" name="findThisRoom"  [(ngModel)]="findThisRoom">
  </mat-form-field>
  <button mat-icon-button (click)="searchRoom()">
    <mat-icon matTooltip="search">search</mat-icon>
  </button>
</div>

<div class="row">
  <mat-form-field appearance="fill">
  <mat-label>Building</mat-label>
  <mat-select [(ngModel)]="this.selectedBuilding" name="selectedBuilding" (selectionChange)="reloadRooms()" (selectionChange)="clearRooms(true)">
    <mat-option *ngFor="let building of this.allBuildings" [value]="building">
      {{building.name}}
    </mat-option>
  </mat-select>
  </mat-form-field>
</div>

<div class="row">
  <mat-form-field appearance="fill">
    <mat-label>Floor</mat-label>
    <mat-select [(ngModel)]="this.selectedFloor" name="selectedFloor" (selectionChange)="reloadRooms()">
      <mat-option *ngFor="let floor of this.selectedBuilding.floors" [value]="floor">
        {{ floor.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="prikaz"  style="float: right;" *ngIf="shownRoom" >
  <div>
    <h1 class="naslov">Room Details</h1>
  </div>

  <div class="unos">
    <mat-form-field appearance="legacy" *ngIf="shownRoom">
      <mat-label>Building Name</mat-label>
      <input matInput type="text"  [(ngModel)]="editBuildingName">
    </mat-form-field>
    <button mat-icon-button *ngIf="shownRoom">
      <mat-icon matTooltip="update">edit</mat-icon>
    </button>
  </div>

  <div div class="unos" >
    <mat-form-field appearance="legacy" *ngIf="shownRoom">
      <mat-label>Floor name</mat-label>
      <input matInput type="text"  [(ngModel)]="editFloorName">
    </mat-form-field>
    <button mat-icon-button *ngIf="shownRoom">
      <mat-icon matTooltip="update">edit</mat-icon>
    </button>
  </div>

  <div  class="unos">
    <mat-form-field appearance="legacy" *ngIf="shownRoom">
      <mat-label>Room Name </mat-label>
      <input matInput type="text"  [(ngModel)]="editRoomName">
    </mat-form-field>
    <button mat-icon-button *ngIf="shownRoom">
      <mat-icon matTooltip="update">edit</mat-icon>
    </button>
  </div>


  <div  class="unos">
    <mat-form-field appearance="legacy" *ngIf="shownRoom">
      <mat-label>EquipmentName </mat-label>
      <input matInput type="text"  >
    </mat-form-field>
    <button mat-icon-button *ngIf="shownRoom">
      <mat-icon matTooltip="update">edit</mat-icon>
    </button>
  </div>


  <div  class="unos">
    <mat-form-field appearance="legacy" *ngIf="shownRoom">
      <mat-label>Amount </mat-label>
      <input matInput type="text"  [(ngModel)]="editRoomName">
    </mat-form-field>
    <button mat-icon-button *ngIf="shownRoom">
      <mat-icon matTooltip="update">edit</mat-icon>
    </button>
  </div>




  <div>
    <button mat-icon-button *ngIf="shownRoom" (click)="checkIfAnythingNeedsUpdate()">
      <mat-icon matTooltip="save">save</mat-icon>
    </button>

  </div>

</div>

<div>
  <canvas id="c" width="50%"></canvas>
</div>
