<div class="container">
    <mat-tab-group (selectedTabChange)="onTabChange($event)" mat-stretch-tabs>
        <mat-tab label="Number of renovations by type ">
            <div id="tab1" style="width: 80%; height:80%" class="type">
                <br>
                <h2>Number of renovations by type </h2>
            </div>

        </mat-tab>

        <mat-tab label="Avg time of renovation scheduling">
            <div id="tab2" style="width: 75%; height:75%" class="averageTime">
                <br>
                <h2>Avg time of renovation scheduling</h2>
            </div>
        </mat-tab>

        <mat-tab label="Step occurance number by type">
            <div id="tab2" style="width: 75%; height:75%" class="occurance">
                <br>
                <h2>Step occurance number by type</h2>
            </div>
        </mat-tab>

        <mat-tab label="Step averageTime">
            <div id="tab2" style="width: 75%; height:75%" class="stepAverageTime">
                <br>
                <h2>Step average time</h2>
            </div>
        </mat-tab>

        <mat-tab label="Number of successful scheduling">
            <div id="tab2" style="width: 75%; height:75%" class="successful">
                <br>
                <h2>Step occurance number by type</h2>
            </div>
        </mat-tab>

        <mat-tab label="Table of all events in last 24H">
            <div id="tab2" style="width: 75%; height:75%" class="successful">
                <br>
                <h2>Table of all events in last 24H</h2>
            </div>
        </mat-tab>
    </mat-tab-group>


</div>