<h1>Appointments</h1>
<div class="container">
    <div class="row">
      <mat-grid-list cols="3" rowHeight="2:1">
        <div ></div>
        <mat-grid-tile class="item-row" *ngFor="let app of appointments" >{{app.patientId}}</mat-grid-tile>
        <mat-grid-tile class="item-row">2</mat-grid-tile>
        <mat-grid-tile class="item-row">3</mat-grid-tile>
      </mat-grid-list>
<!--      <div class="col-4 item-row" *ngFor="let app of appointments ">-->
<!--        <app-appointment-preview [appointment]="app"></app-appointment-preview>-->
<!--      </div>-->
  </div>
</div>
