<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>blabla</title>
</head>
<body>
  <div class="container">

    <mat-label>Check blood supply: </mat-label><br>

    <form [formGroup]="bloodSupplyForm" (ngSubmit)="checkBloodSupply()">
      <mat-form-field appearance="fill">
        <mat-label>BloodType</mat-label>
        <mat-select [(ngModel)]="bloodType" formControlName="bloodType">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Requred amount (in liters)</mat-label>
        <input  matInput [(ngModel)]="bloodAmount" formControlName="bloodAmount" min="0" type="number">
        <mat-error>Input positive number!</mat-error>
      </mat-form-field><br>

      <button mat-stroked-button [disabled]="bloodSupplyForm.invalid">Submit</button><br>
      <mat-label>Response from blood bank: {{responseStatus}}</mat-label><br>
    </form>
  </div>>
</body>
</html>
