<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>blabla</title>
</head>
<body>
  <div class="container">

    <mat-label>Provjeri dostupnost krvi u odredjenoj kolicini: </mat-label><br>

    <mat-form-field appearance="fill">
      <mat-label>Blood type</mat-label>
      <input  matInput [(ngModel)]="bloodType">
    </mat-form-field><br>

    <mat-form-field appearance="fill">
      <mat-label>Requred amount (in liters)</mat-label>
      <input  matInput [(ngModel)]="bloodAmount">
    </mat-form-field><br>

    <button mat-stroked-button (click)="checkBloodSupply()">Submit</button><br>
    <mat-label>Response from blood bank: {{responseStatus}}</mat-label><br>
  </div>>
</body>
</html>
