.mat-stroked-button {
    color: white;
    background-color: rgb(99, 49, 180);
    width: 100%;
    
}

div {
    width: 80%;
    margin: auto;
}

mat-form-field {
    width: 100%;
    margin: auto;
}

.legend{
    height: 250px;
    width: 100%;
}

h3{
    color: gray;
}

.form{
    background-color: white;
    max-width: 900px;
    max-height: 1100px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

h1{
    text-align: center;
}

.mat-stroked-button:disabled {
    color: white;
    background-color: rgb(207, 186, 240);
    width: 100%;
    
}

div.form{
        width: 100%;
        margin: auto;
}

.btn--basic {
    align-content: center;
    margin-top: 10px;
    padding: 2px 2px;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    cursor: pointer;
    width: 15%;
    background-color: #3b4d79;
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
    opacity: 1;
  }