<div class="form">
    <br>
    <br>
    <div>
        <h1>Urgent blood supply</h1>
        <br><br>
        <form (submit)="sendRequestForUrgentSupply()">
            <h3>Enter data in the following fields:</h3> 
    
            <br>

            <div [formGroup]="groupForm">
                <mat-form-field appearance="fill" required>
                <mat-label>Blood type</mat-label>
                <select matNativeControl required formControlName="bloodType" [(ngModel)]="urgentBloodSupplyRequest.bloodType">
                    <option value=""></option>
                    <option value="Apos">A+</option>
                    <option value="Aneg">A-</option>
                    <option value="Bpos">B+</option>
                    <option value="Bneg">B-</option>
                    <option value="ABpos">AB+</option>
                    <option value="ABneg">AB-</option>
                    <option value="Opos">0+</option>
                    <option value="Oneg">0-</option>
                </select>
                </mat-form-field>
            </div>

            <br>
            
            <div [formGroup]="groupForm">
                <mat-form-field appearance="fill">
                    <mat-label>Blood quantity <span style="font-size: 10px;">(number)</span></mat-label>
                    <input type="number" matInput required formControlName="bloodQuantity" min="1" [(ngModel)]="urgentBloodSupplyRequest.amount">
                </mat-form-field>  
            </div>
            <br><br><br>
            <div>
                <button mat-stroked-button [disabled]="groupForm.invalid">Send sequest</button>
            </div>
            <br><br><br><br>
        </form>
        
    </div>
</div>
  