.gender{
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.age{
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.pediatric{
    margin-left: 10%;
    justify-content: left;
    align-items: left;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.young{
    margin-left: 20%;
    margin-bottom: 10%;
    justify-content: top;
    align-items: right;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
.middle{
    margin-left: 10%;
    justify-content: right;
    align-items: left;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.elderly{
    margin-left: 20%;
    justify-content: right;
    align-items: right;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
.twocharts{
    display: flex;
    flex-direction: row;
}
.secondcharts{
    display: flex;
    flex-direction: row;
}