.input-symptom {
  margin-top: 20px;
  width: 65%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.input-h{
  height: 25px;
}
.an-area{
  height: 200px;
  font-size: 20px;
}
.an-form{
  width: 65%;
  margin-top: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
