.container-f {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  min-height: 450px;
  max-height: 900px;
  width: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.text-area-an {
  margin-top: 20px;
  width: 80%;
}
.an-form{
  width: 100%;
}
.an-area{
  height: 300px;
  font-size: 20px;
}
