<div class="container">
  <div class="container-f">
    <mat-stepper #stepper>
      <mat-step>
        <ng-template matStepLabel>Symptoms</ng-template>
          <div class="steeper-title">
            <h1 class="header-b">Select symptoms</h1>
            <mat-divider class="sub-color"></mat-divider>
            <app-symptoms-select></app-symptoms-select>
          </div>
        <div align="center" class="align-me">
          <button class="btn-b" mat-flat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Anamnesis</ng-template>
        <div class="steeper-title">
          <h1 class="header-b">Anamnesis</h1>
          <mat-divider class="sub-color"></mat-divider>
          <form class="an-form">
          <mat-form-field class="text-area-an">
            <mat-label>Write anamnesis</mat-label>
            <textarea class="an-area" matInput placeholder="Anamnesis..."></textarea>
          </mat-form-field>
          </form>
          <div class="row">
          <div  class="col-6">
            <button class="btn-b-cols" mat-flat-button matStepperPrevious>Back</button>
          </div>
          <div class="col-6">
            <button class="btn-b-cols" mat-flat-button matStepperNext>Next</button>
          </div>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <div class="center-text">
        <ng-template matStepLabel>Prescription</ng-template>
        <div class="steeper-title">
          <h1 class="header-b">Create prescriptions</h1>
          <mat-divider class="sub-color"></mat-divider>
        </div>
          <app-prescription-form></app-prescription-form>
        <div class="row">
          <div  class="col-6">
            <button class="btn-b-cols" mat-flat-button matStepperPrevious>Back</button>
          </div>
          <div class="col-6">
            <button class="btn-b-cols" mat-flat-button matStepperNext>Next</button>
          </div>
        </div>
        </div>
      </mat-step>
    </mat-stepper>
  </div>

</div>
