<div class="container-fluid">
  <div class="row">
    <div class="col-9 m-top">
      <h1 class="header-blue title-h">Hospitalized patients</h1>
    </div>
    <div class="col-2">
      <button mat-raised-button matTooltip="Hospitalize" class="custom-button f-right" (click)="navigateNewHospitalization()">
        <i class="fal fa-stethoscope icon-fa"></i>
      </button>
    </div>
    <div class="col-1 m-bott">
      <button mat-raised-button matTooltip="Prescribe therapy" class="custom-button f-right" (click)="navigateTherapy()">
        <i class="fal fa-file-invoice fa-thin icon-fa"></i>
      </button>
    </div>
  </div>
  <mat-divider style="margin-bottom: 3rem"></mat-divider>
  <div class="row col col-md" >
    <div *ngFor="let patient of patients" class="col-4 col-md-4">
      <app-user-card  [patient]="patient"></app-user-card>
    </div>
  </div>
</div>
