.calendar-wrapper {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: scroll;
  height: calc(60vh);
  caret-color: transparent;
}

.event__title {
  white-space: pre-wrap;
  font-size: 1rem;
  word-wrap: break-word;

  &:hover {
    color: var(--blue);
  }
}

.date-range {
  margin-left: 1.5rem;
  font-size: 3rem;
  color: var(--black);
}

.calendar-header {
  caret-color: transparent;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .button-group {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__button,
    &__button-app {
      margin-right: 1rem;
      padding: .7rem .7rem;
      width: 9rem;
      background-color: white;
      border: 1px solid var(--blue);
      font-weight: 600;
      box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 4px;
      border-radius: .5rem;
      color: var(--blue);
      transition: .2s;
    }

    &__button-app {
      width: 10rem;
    }

    &__button:hover,
    &__button-app:hover {
      transform: scale(1.07);
      transition: .2s;
      cursor: pointer;
      background-color: var(--blue);
      color: white;
    }

    &__button-app:disabled {
      opacity: 0.3;
      cursor: default;
      transform: none;
      background-color: white;
      border: 1px solid var(--blue);
      color: var(--blue);
    }
  }
}
