<div>
  <div class="row col col-md">
<mat-card class="notification beautiful-animation col-6 col-md-6" *ngFor="let notification of notificationsMap" [@notificationState]="notification.state">
  <mat-card-header class="card-center">
    <mat-card-title >{{ notification.patientName }} {{ notification.patientSurname}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul >
      <li class="spread-around" *ngFor="let content of notification.notifications">
        <div style="display: flex;align-items: center; " class="icon-display"><mat-icon>assignment icon</mat-icon></div>
        <div style="margin-left: 5%">{{ content }}</div>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions class="card-center">
    <button mat-button class="btn-ntf" (click)="patientRecord(notification.patientId!)">patient record</button>
  </mat-card-actions>
</mat-card>
</div>

</div>
