<div class="card">
  <div class="partD" style="border-right: #1B273C; border-right-style: solid; border-right-width: 1px">
    <div class="head">
      {{date}}
    </div>
    <div class="head1 medicine">
      <div class="item-left">Patient</div>
      <div>{{patientName}}</div>
    </div>
    <div class="head1 medicine">
      <div class="item-left">
        Doctor
      </div>
      <div>
        {{doctorName}}
      </div>
    </div>
  </div>
  <div class="part" style="border-right: #1B273C; border-right-style: solid; border-right-width: 1px">
    <div class="head" style="text-align: center;">
      Prescriptions:
    </div>
    <div *ngFor="let med of medicines" class="content1">
      <div class="head1">
        usage: &nbsp;&nbsp;&nbsp;&nbsp;{{med.usage}}
      </div>
      <div *ngFor="let m of med.medicines" class="medicine">
        <div class="item-left" >
          {{m.name}}
        </div>
        <div style="align-items: center">
          amount:  &nbsp;&nbsp;&nbsp; {{m.amount}}
        </div>
      </div>
    </div>

  </div>
  <div class="partS">
    <div class="head" style="text-align: center;">
      Symptoms:
    </div>
    <div *ngFor="let sym of symptoms" >
      <div class="symptom">
        {{sym.description}}
      </div>

    </div>
  </div>


</div>
