.container-f {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
  position: center;
  overflow: hidden;
  max-width: 100%;
  min-height: 450px;
  margin: auto;
  width: 70%;
  padding: 10px;
}
.form-container {
  position: relative;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.title{
  margin: 1px 0;
}
.create-schedule-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.center-me{
  position: center;
}
.input-schedule {
  margin-top: 20px;
  width: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

textarea {
  height: 100px;
}
/*.button-color{
  background: #3b4d79;
}*/
.header-b {
  font-size: 30px;
  font-weight: 500;
  background-image: linear-gradient(to left,#3b4d79, #3C779BFF);
  color: transparent;
  -webkit-background-clip: text;
  text-align: center;
}
/*.button-color:hover {
  transform: scale(1.04);
  transition: 0.2s;
  cursor: pointer;
  background-color: #4d76db;
  color: white;
}*/
.title-container-schedule{
  color: #fff;
  font-size: 26px;
  padding-bottom: 2%;
  text-align: center;
  background-color: #263238;
  padding-top:2% ;
}
.container-schedule{
  background-color: #fff;

  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
  position: center;
  overflow: hidden;
  max-width: 100%;
  min-height: 570px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  max-height: 98%;
  width: 60%;
}
.button-color{
  background: #263238;
}
.button-color:hover {
  transform: scale(1.04);
  transition: 0.2s;
  cursor: pointer;
  background-color: #4c7891;
  color: white;
}

