<div class="container-schedule">
  <div >
    <div>
      <form [formGroup]="myForm" (ngSubmit)="scheduleAppointment()" >
<!--        Value : {{myForm.value! | json}}-->
        <div class="title-container-schedule">
          Schedule Appointment
        </div>
        <mat-divider class="sub-color"></mat-divider>
        <div>
          <mat-form-field appearance="fill" class="input-schedule">
            <mat-label>Choose a date</mat-label>
            <input matInput id="dateSchedule" [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <input type="text" style="display: none">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field  appearance="fill" class="input-schedule">
            <mat-label>Choose start time</mat-label>
            <input id="startTimeSchedule" type="text"
                   matInput
                   [ngxTimepicker]="pickerTime"
                   formControlName="startTime"
                    />
            <ngx-material-timepicker #pickerTime></ngx-material-timepicker>
          </mat-form-field>
          <mat-form-field  appearance="fill" class="input-schedule">
            <mat-label>Choose finish time</mat-label>
            <input id="finishTimeSchedule" type="text"
                   matInput
                   [ngxTimepicker]="pickerTime1"
                   formControlName="finishTime"
            />
            <ngx-material-timepicker #pickerTime1></ngx-material-timepicker>
          </mat-form-field>
        </div>
        <app-all-patients (onSelectedPatient)="onSelecting($event)"></app-all-patients>
<!--        <input type="text"/>-->
        <button id="submitSchedule" mat-flat-button color="primary" class="input-schedule button-color">Submit</button>
      </form>
    </div>
  </div>
</div>
