<div class="container-ff">

<!--  <div class="title-container-next">-->
<!--    Your appointments for patients-->
<!--  </div>-->

<!--  <mat-divider></mat-divider>-->

  <div class="search-div">
    <div class="naslov">Your appointments for patients </div>
    <mat-form-field class="search-bar" appearance="fill">
      <mat-label style="font-size: 22px; color: #263238;">Search</mat-label>
      <input style="font-size: 22px; color: #263238;" matInput [(ngModel)]="searchValue" placeholder="Search.." type="text">
      <i class="fa fa-search i-1" (click)="search()"></i>
      <div class="divider"></div>
      <i class="fa fa-times-circle cancel-icon" (click)="clearSearch()"></i>
    </mat-form-field>
  </div>

<div class=" m-top-20">
<mat-list class="list row">
  <mat-list-item *ngFor="let app of appointmentsForExamination" class="item">
        <img mat-list-avatar src="../../../../assets/pat.png" alt="#"/>
        <div class="cell-list">
        {{app!.patient!.name}} {{app!.patient!.surname}}
        </div>
        <div class="cell-list">
          {{getHourFormat(app!.duration!.from!)}} - {{getHourFormat(app!.duration!.to!)}}
        </div>
        <div class="cell-list">
          {{getDateFormat(app!.duration!.to!)}}
        </div>
<!--        <mat-divider class="sub-color"></mat-divider>-->
        <button class="btn-cell" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon [matMenuTriggerFor]="optionsMenu">more_vert</mat-icon>
        </button>
    <mat-menu #optionsMenu="matMenu">
      <button mat-menu-item (click)="Examine(app!.id!)">Examine</button>
      <mat-divider class="sub-color"></mat-divider>
      <button mat-menu-item (click)="showRecord(app!.patient!.id!)">Medical Record</button>
    </mat-menu>
  </mat-list-item>
</mat-list>
</div>
</div>
