<div class="container">
  <div class="container-f">
    <div class="title-container-basic">
      Create Blood Request
    </div>
    <mat-form-field appearance="fill" class="input-create-request">
      <mat-label>Select blood type:</mat-label>
      <mat-select [(value)]="request.type" [disabled]="true">
        <mat-option [value]="request.type">A+</mat-option>
        <mat-option [value]="request.type">A-</mat-option>
        <mat-option [value]="request.type">B+</mat-option>
        <mat-option [value]="request.type">B-</mat-option>
        <mat-option [value]="request.type">AB+</mat-option>
        <mat-option [value]="request.type">AB-</mat-option>
        <mat-option [value]="request.type">O+</mat-option>
        <mat-option [value]="request.type">O-</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-create-request">
      <mat-label>Amount:</mat-label>
      <input matInput [(ngModel)]="request.amount" placeholder="Amount" type="number" min="0" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-create-request">
      <mat-label>Date</mat-label>
      <input matInput [(ngModel)]="date" [min]="todayDate" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-reason">
      <mat-label>Reason:</mat-label>
      <textarea matInput [(ngModel)]="request.reason" required></textarea>
    </mat-form-field>

    <div align="center">
      <button mat-flat-button class="btn-b" (click)="createRequest()">Create</button>
    </div>

  </div>
</div>
