<div class="container">
  <div class="container-f">

    <div class="title-container">
      <h1 class="title">Create Blood Request</h1>
    </div>

    <mat-form-field appearance="fill" class="input-create-request">
      <mat-label>Select blood type:</mat-label>
      <mat-select [(value)]="request.type" required>
        <mat-option value="Apos">A+</mat-option>
        <mat-option value="Aneg">A-</mat-option>
        <mat-option value="Bpos">B+</mat-option>
        <mat-option value="Bneg">B-</mat-option>
        <mat-option value="ABpos">AB+</mat-option>
        <mat-option value="ABneg">AB-</mat-option>
        <mat-option value="Opos">O+</mat-option>
        <mat-option value="Oneg">O-</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-create-request">
      <mat-label>Amount:</mat-label>
      <input matInput [(ngModel)]="request.amount" placeholder="Amount" type="number" min="0" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-create-request">
      <mat-label>Date</mat-label>
      <input matInput [(ngModel)]="date" [matDatepicker]="picker" [min]="todayDate" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" class="input-reason">
      <mat-label>Reason:</mat-label>
      <textarea matInput [(ngModel)]="request.reason" required></textarea>
    </mat-form-field>

    <div align="center">
      <button mat-flat-button color="primary" (click)="createRequest()">Create</button>
    </div>

  </div>
</div>
