.container-f {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
  position: center;
  overflow: hidden;
  max-width: 100%;
  min-height: 580px;
  margin: auto;
  width: 70%;
  padding: 10px;
}
.title-container-cons{
  background-color: #263238;
}
.title-container-cons{
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
  color: #fff;
}

.container-cons{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0.1,0.1,0.1,0.1),
  10px 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  margin-top: 5px;
  width: 90%;
  text-align: center;
}
.form-container {
  position: relative;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.title{
  margin: 5px 0;
}
.create-schedule-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.center-me{
  position: center;
}
.input-schedule {
  margin-top: 20px;
  width: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.buttons{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.btn--basic {
  align-content: center;
  margin-top: 10px;
  padding: 2px 2px;
  letter-spacing: 1px;
  color: #fff;
  font-family: 'Roboto',sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  width: 45%;
  background-color: #3b4d79;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  opacity: 1;
}
.btn-l{
  left: 2rem;
}
.btn-r{
  right: 1rem;
}
.btn--basic:hover {
  transform: scale(1.10);
  transition: 0.2s;
  cursor: pointer;
  background-color: #4d76db;
  color: white;
}
.btn-w{
  width: 25%;
}
