<div class="container">
  <a routerLink="/bloodBank"><button class="btn--basic"> Back </button></a>
  <div class="container-f">
      <div>
          <div class="title-container">
            <h1 class="title">Blood subscription</h1>
          </div>
          <div>
            <mat-form-field appearance="fill" class="mat-select-bloodbank">
                <mat-label>Blood bank</mat-label>
                <mat-select [(ngModel)]="bloodSubscription.bloodBankName" required >
                <mat-option *ngFor="let bloodBank of bloodBanks" [value]="bloodBank.name">
                    {{bloodBank.name}}
                </mat-option>
                </mat-select>
            </mat-form-field> 
          </div>
          <div class="addDiv">
            <mat-form-field appearance="fill" class="mat-select-bloodtype">
                <mat-label>Blood type</mat-label>
                <mat-select [(value)]="currentBloodType"  required>
                <mat-option [value]=0>A-</mat-option>
                <mat-option [value]=1>A+</mat-option>
                <mat-option [value]=2>B-</mat-option>
                <mat-option [value]=3>B+</mat-option>
                <mat-option [value]=4>AB+</mat-option>
                <mat-option [value]=5>AB-</mat-option>
                <mat-option [value]=6>0+</mat-option>
                <mat-option [value]=7>0-</mat-option>
                </mat-select>
            </mat-form-field> 
            <mat-form-field appearance="fill" class="mat-select-amount">
                <mat-label>Amount</mat-label>
                <input name="Amount" type="number" min="1" [(ngModel)]="currentAmount" matInput>
            </mat-form-field>
            <button mat-flat-button color="primary" class="add" (click)="add()">Add</button>
          </div>
          <div class="view-blood-subscription-button-div">
            <button mat-flat-button color="primary" class="view-blood-subscription-button" (click)="openDialog()">View subscription</button>
          </div>
          <button mat-flat-button color="primary" class="submit-button" (click)="subscript()" [disabled]="bloodSubscription.bloodBankName.name === '' || bloodSubscription.bloodTypeAmountPair.length === 0">
            Submit
          </button>
      </div>
    </div>
  </div>
  