
<mat-form-field appearance="fill" class="input-symptom">
  <mat-label>
    Search symptoms
    <mat-icon aria-hidden="false" aria-label="Search" fontIcon="search"></mat-icon>
  </mat-label>
  <input matInput type="text" [(ngModel)]="search" (ngModelChange)="filter()"/>
</mat-form-field>
<mat-form-field appearance="fill" class="input-symptom">
  <mat-label>Select symptoms</mat-label>
  <mat-select class="input-h" [formControl]="formControl" (ngModelChange)="onSelectedSymptoms($event)" multiple>
    <mat-option *ngFor="let s of filteredOptions" [value]="s">
      {{s.description}}
    </mat-option>
  </mat-select>
</mat-form-field>
