.input-symptom {
  margin-top: 20px;
  width: 65%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.search {
  margin-top: 20px;
  width: 30%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.input-h{
  height: 25px;
}
