<div class="container">
  <h1 *ngIf="loadedPatient">Patient: {{patient.name}} {{patient.surname}}</h1>
  <mat-tab-group (selectedTabChange)="onTabChange($event)" mat-stretch-tabs>
    <mat-tab label="Weight">
      <div id="tab1"  class="plot">
        <br>
        <h2>Weight</h2>
        <canvas id="weightChart">{{DrawWeightChart}}</canvas>
      </div>
    </mat-tab>
    <mat-tab label="Blood pressure">
      <div id="tab2"  class="plot">
        <br>
        <h2>Blood pressure</h2>
        <canvas id="pressureChart">{{DrawPressureChart}}</canvas>
      </div>
    </mat-tab>
    <mat-tab label="Blood sugar">
      <div id="tab3"  class="plot">
        <br>
        <h2>Blood sugar level</h2>
        <canvas id="sugarChart">{{DrawSugarChart}}</canvas>
      </div>
    </mat-tab>
    <mat-tab label="Body fat">
      <div id="tab4"  class="plot">
        <br>
        <h2>Body fat %</h2>
        <canvas id="bodyFatChart">{{DrawBodyFatChart}}</canvas>
      </div>
    </mat-tab>
    <mat-tab label="Menstrual period" *ngIf="loadedPatient && patient.gender == 1">
      <div id="tab5"  class="plot">
        <br>
        <h2>Menstrual period</h2>
        <canvas id="menstrualChart">{{DrawMenstrualChart}}</canvas>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
